body{
	background: white;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
}


.cndce-template{
	display: none;
}


.cndce-container{
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	background: white;
	z-index: 50;

	opacity: 0;
	visibility: collapse;

	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

body[data-cndce-step="instructions"] .cndce-instructions-container{
	opacity: 1;
	visibility: visible;
}


.cndce-instructions-container h1{
    font-weight: lighter;
    font-size: 320%;
}

.cndce-instructions-container h3{
	font-weight: lighter;
	color: gray;
	font-style: italic;
	margin-bottom: 50px;
	display: none;
}

body.cndce-started[data-cndce-step="instructions"] .cndce-instructions-container h3{
	display: block;
}


.cndce-instructions-container small{
	color: gray;
}


#playbutton{
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	background: #4285F4;
	color: white;
	font-weight: bold;
	letter-spacing: 0px;
	padding: 10px 10px 10px 0;
	text-transform: uppercase;

	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	-moz-border-radius: 10px;
	     border-radius: 10px;
}

#playbutton svg{
	width: 35px; 
	vertical-align: middle;
}

#playbutton svg path{
	fill: white;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#playbutton:hover{
	background: #DB4437;
	color: #F4B400;

	-moz-border-radius: 15px;
	     border-radius: 15px;
}

#playbutton:hover svg path{
	fill: #F4B400;
}


body[data-cndce-step="question"] .cndce-question-container{
	opacity: 1;
	visibility: visible;
}

.cndce-transcription span.correct,
.cndce-result-question span.correct{
	color: green;
}

.cndce-transcription span.wrong,
.cndce-result-question span.wrong{
	color: red;
}


.cndce-result-container.cndce-container{
	opacity: 0;
	visibility: collapse;
}


body[data-cndce-step="results"] .cndce-result-container{
	opacity: 1;
	visibility: visible;
}


.cndce-result-actions.cndce-complete .cndce-result-action-again{
	display: none;
}

.cndce-result-container h2{
	font-weight: lighter;
}

.cndce-result-actions svg{
	width: 50px;
}

.cndce-result-actions button{
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}